<!DOCTYPE html>
<html>
  <head>
    <title>BGG Blog</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:525px;}
    </style>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
<section class="bgg-logo">
  <p>Buffalo
  <br>Girl Gang.</p>
</section>
    <div class="buff_nav">
      <ul>
        <li><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'BLOG', articles_path %></li>
        <li><%= link_to 'NEWSLETTER', new_email_api_path %></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- <div class="buff_nav">
      <div class="buff-group-button">
        <a href="#" class="buff-sign-in">SIGN UP</a>
        <a href="#" class="buff-sign-up">SIGN IN</a>
      </div> -->

<div class="buff_nav">
  <div class="buff-group-button">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "SIGN UP", new_user_registration_path, :class => 'buff-sign-up'  %>
  <%= link_to "LOG IN", new_user_session_path, :class => 'buff-sign-in'  %>
<% end %>
</div>
</div>


    </div>
  </header>
    <%= yield %>
  </body>
</html>
